.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--modules-color-accent);
  color: var(--text-color-accent);
}

.logo {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color-accent);
}

.nav {
  display: flex;
  gap: 1rem;
}

.navItem {
  color: var(--text-color-accent);
  text-decoration: none;
  font-family: var(--font-family-accent);
}

.navItem:hover {
  color: var(--hover-color-accent);
}
