.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--modules-color-accent);
  color: var(--text-color-accent);
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color-accent);
}

@media (max-width: 400px) {
  .title {
    font-size: 30px;
  }
}